pandas
numpy
seaborn
matplotlib
scikit-learn
# catboost ## We commented out catboost and xgboost to see if it will help our deployment on AWS
# xgboost
dill
flask
gunicorn
# -e . ## this is for us to trigger setup.py. uncomment when you want to build the package